*{
  font-family: Arial, Helvetica, sans-serif;
  
}

body {

    background: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .dark-mode{
    background: black;
    color: whitesmoke;
  }

  .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    flex-direction: column;
    font-size: 1rem;
  }

  .source-code{
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .level , .score , .top-score{
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
  }

  .gameboard {
    height: 200vh;
    width: 200vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

  .color {
    cursor: pointer;
    width: 50%;
    height: 50%;
    display: inline-block;
    transition: .5s;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .blue {
    background: #2233b3;
  }

  .blue.light {
    background: #7e86df;
  }

  .red {
    background: #dd2e2e;
  }

  .red.light {
    background: #fc9595;
  }

  .cyan {
    background: #00faea;
  }

  .cyan.light {
    background: #c6faf3;
  }

  .brown {
    background: #846839;
  }

  .brown.light {
    background: #c1834d;
  }

  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
      display: block; 
    }
    to {
      display: none;
      opacity: 0; 
    } 
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      display: block; 
    }
    to {
      display: none;
      opacity: 0; 
    } 
  }
  @-webkit-keyframes fadeIn {
    from {
      display: none;
      opacity: 0; 
    }
    to {
      opacity: 1;
      display: block; 
    } 
  }
  @keyframes fadeIn {
    from {
      display: none;
      opacity: 0; }
    to {
      opacity: 1;
      display: block; 
    } 
  }

  .btn-start {
    transition: display 2s;
    -webkit-transition: display 2s;
    transition: visibility 1s;
    -webkit-transition: visibility 1s;
    cursor: pointer;
    width: 420px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    border: none;
    border-bottom: 4px solid #c4c6c7;
    border-radius: 8px;
    font-size: 3em;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 210px);
    transition: .5s;
    outline: none;
  }

  .animation {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

  .hide {
    display: none;
  }

  .btn-start:hover {
    color: #ecf0f1;
    background: #2c3e50;
    border-bottom: 4px solid #1f3346;
  }
  
  .btn-start:active {
    transform: scale(.95);
  }